html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #2b2733;
  color: #fff;
  margin: 0;
}
header {
  background-color: #46424d;
  padding: .20% 0;
  text-align: center;
  text-transform: uppercase;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}
.main-container {
  background: #26222D;
  width: 66.6%;

}

/* h2 {
  padding: 3% 0 1% 0;
  margin: 0;
  color: #cbc9cf;
} */

 h2 {
  color: #cbc9cf;
  margin-left: 2%;
}

.main-info {
  background: #46424d;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 3px;
  /* padding: 3% 10%; */
}

/* .btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40%;
  padding: 0 10%;
} */

 .category {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;

}
#study,
#meditate,
#exercise {
  background-color: #46424d;
  border: 2px solid #FFF;
  border-radius: 3px;
  height: 15%;
  margin: auto;
  padding: 0;
  width: 18%;
}

.study-btn,
.meditate-btn,
.exercise-btn {
  background-color: #46424d;
  border: none;
  height: 100%;
  margin: auto;
  padding: 0;
  width: 100%;
}

button:focus {
  outline:0;
}

#study-img,
#meditate-img,
#exercise-img {
  height: 18%;
  width: 18%;
  margin: auto;
  display: block;
  padding-top: 5%;
}

#h5-study,
#h5-meditate,
#h5-exercise {
  color: #FFF;
  margin: 0;
  text-align: center;
  padding: 3% 0 5% 0;
}
/* END */
.question-input {
  margin-top: 10%;
  display: inline-flex;
}
.description {
  margin-left: 10%;
}
.warning {
  visibility: hidden;
}
.warning-icon {
  height: 20px;
  width:20px;
}
h4 {
margin: 0 0 1.5% 11%;
padding: 5% 0 0 0;
}

#min-sec {
  /* margin: 0; */
  padding:0;
  margin: 0 0 2.5% 0;
}

.idk {
  display: flex;
  flex-direction: row;
  margin-left: 11%;
  padding: 5% 0 0 0;
  /* text-align: left; */
}


.input-time,
.time-class {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  width: 300%;


  /* margin-left: 11%; */

  /* margin-top: 10%; */
  /* display: block; */
}

.time {
  background: #46424d;
  border: none;
  border-bottom: 1px solid #fff;
  width: 75%;
  padding: 1% 0;

}

.question {
  width: 78%;
  margin-left: 11%;
  padding: .5% 0;
}
.start-btn {
  margin: 5% 0;
  margin-right: 11%;
  align-self: flex-end;
  padding: 1% 5%;
  text-transform: uppercase;
}
aside {
  background: #26222D;
  border-left: 1px solid #46424d;
  width: 33.3%;
}

/* h4 {
  margin: 0 0 1.5% 11%;
  padding: 5% 0 0 0;
 } */

h5 {
  margin: 0;
  text-align: center;
  padding: 3% 0 5% 0;
}
