html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #2b2733;
  color: #fff;
  margin: 0;
}
header {
  background-color: #46424d;
  padding: .20% 0;
  text-align: center;
  text-transform: uppercase;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}
.main-container {
  background: #26222D;
  width: 66.6%;
}
 h2 {
  color: #cbc9cf;
  margin-left: 2%;
}
.main-info {
  background: #46424d;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 3px;
}
 .category {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.category-btn {
  border: 2px solid #fff;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  height: 15%;
  width: 18%;
}
.icons {
  height: 18%;
  width: 18%;
  margin: 0 auto;
  display: block;
  padding-top: 5%;
}
.question-input {
  margin-top: 10%;
  display: inline-flex;
}
.description {
  margin-left: 10%;
}
.warning-question,
.warning-minutes,
.warning-seconds {
  visibility: hidden;
}
.warning-icon {
  height: 20px;
  width:20px;
}
h4 {
margin: 0 0 1.5% 11%;
padding: 5% 0 0 0;
}

#min-sec {
  padding:0;
  margin: 0 0 2.5% 0;
}
.idk {
  display: flex;
  flex-direction: row;
  margin-left: 11%;
  padding: 5% 0 0 0;
}
.input-time,
.time-class {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300%;
}
.time {
  color: white;
  font-size: 16px;
  background: #46424d;
  border: none;
  border-bottom: 1px solid #fff;
  width: 75%;
  padding: 1% 0;

}
.question {
  width: 78%;
  margin-left: 11%;
  padding: .5% 0;
}
.start-btn {
  margin: 5% 0  ;
  margin-right: 11%;
  align-self: flex-end;
  padding: 1% 5%;
  text-transform: uppercase;
}
aside {
  background: #26222D;
  border-left: 1px solid #46424d;
  width: 33.3%;
}
h5 {
  margin: 0;
  text-align: center;
  padding: 3% 0 5% 0;
}
/* Styling for the screen after the start-activity button has been clicked. */
.wrapper  {
  display: none;
}
.wrapper2 {
  display: flex;
  flex-direction: row;
  /* display: none; */
}
.main-container2 {
  background: #26222D;
  width: 66.6%;
}
.main-info2 {
  background: #46424d;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 3px;
}
.timer-interface {
  visibility: visible;
}
.activity-title {
  margin-bottom: 0;
  margin-top: 5%;
}
.activity-title,
.start-time,
.timer {
  text-align: center;
}
p {
  font-size: 200%;
  margin: 0;
  margin-bottom: 5%;
}
.start-time {
  height: 300px;
  width: 300px;;
  border-radius: 50%;
  border: 1px solid white;
  margin: 9% auto;
}
.start-time p {
  margin-top: 40%;
  font-size: 150%;
  text-transform: uppercase;
}
.aside2 {
  background: #26222D;
  border-left: 1px solid #46424d;
  width: 33.3%;
