body {
  background-color: #2b2733;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

header {
  background-color: #46424d;
  padding: .20% 0;
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.main-container {
  background: #26222D;
  width: 66.6%;
}

 h2 {
  color: #cbc9cf;
  margin-left: 2%;
}

.main-info {
  background: #46424d;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

 .category {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 4%;
  padding: 0;
  width: 93%;
}

/* starts button styling */
#study,
#meditate,
#exercise {
  background-color: #46424d;
  border: 3px solid #FFF;
  border-radius: 3px;
  height: 15%;
  margin: auto;
  padding: 0;
  width: 18%;
}

.study-btn,
.meditate-btn,
.exercise-btn {
  background-color: #46424d;
  border: none;
  height: 100%;
  margin: auto;
  padding: 0;
  width: 100%;
}

button:focus {
  outline:0;
}

#study-img,
#meditate-img,
#exercise-img {
  border: 2px 2px 0 2px;
  display: block;
  height: 18%;
  margin: auto;
  padding-top: 5%;
  width: 18%;
}

#h5-study,
#h5-meditate,
#h5-exercise {
  color: #FFF;
  margin: 0;
  padding: 3% 0 5% 0;
  text-align: center;
}
/* ends */

.question-input {
  margin-top: 10%;
}

.description {
  margin-left: 10%;
}

.warning-question,
.warning-minutes,
.warning-seconds {
  visibility: hidden;
}

.warning-icon {
  height: 20px;
  width:20px;
}

#category {
  margin: 0 0 1.5% 11%;
  padding: 5% 0 0 0;
  font-weight: 600;
}

h4 {
  margin: 0 0 1.5% 11%;
  padding: 0;
  font-weight: 600;
}

#min-sec {
  margin: 0 0 2.5% 0;
  padding:0;
}

.user-input {
  display: flex;
  flex-direction: row;
  margin-left: 11%;
  padding: 5% 0 0 0;
}

.input-time,
.time-class {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300%;
}

.time {
  background: #46424d;
  border: none;
  border-bottom: 1px solid #fff;
  color: white;
  font-size: 16px;
  padding: 1% 0;
  width: 75%;
}

.question {
  margin-left: 11%;
  padding: .5% 0;
  width: 78%;
}

.start-btn {
  align-self: flex-end;
  margin: 2% 11% 5% 0;
  padding: 1% 5%;
  text-transform: uppercase;
}

aside {
  background: #26222D;
  border-left: 3px solid #46424d;
  width: 33.3%;
}

h5 {
  margin: 0;
  text-align: center;
  padding: 3% 0 5% 0;
}

/* Styling for the screen after the start-activity button has been clicked. */
.wrapper2 {
  display: flex;
  flex-direction: row;
}

.display-content {
  display: none;
}

.main-container2 {
  background: #26222D;
  width: 66.6%;
}

.main-info2 {
  background: #46424d;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 3px;
}

.timer-interface {
  visibility: visible;
}

.activity-title {
  margin-bottom: 0;
  margin-top: 5%;
}

.activity-title,
.start-time,
.timer {
  text-align: center;
}

p {
  font-size: 100%;
  margin: 0;
  margin-bottom: 5%;
}

.start-time {
  border: 1px solid white;
  border-radius: 50%;
  height: 300px;
  margin: 9% auto;
  width: 300px;
}

.start-time p {
  font-size: 150%;
  margin-top: 40%;
  text-transform: uppercase;
}

.aside2 {
  background: #26222D;
  border-left: 3px solid #46424d;
  width: 33.3%;
